<div class="border-4 p-2">
  <h4>Post 1</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita sequi, illum dolorum possimus accusamus qui delectus tempore quibusdam temporibus tenetur quasi corporis. Architecto debitis ab nostrum error, nobis quibusdam.</p>
  <div class="flex gap-2 justify-end">
    <div class="flex gap-2">
      <p>Comments:</p>
      <p>xx</p>
    </div>
    <div class="flex gap-2">
      <p>Likes:</p>
      <p>xx</p>
    </div>
  </div>
</div>